*{
    font-family: sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    user-select: none;
}
.white{
    background-color: rgb(225, 16, 16);
}
#svg{
    height: 100%;
    width: 100%;
}
.hide-scrollbar{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.hide-scrollbar::-webkit-scrollbar{
    width: 0.5em; /* Adjust as needed */
    height: 0.5em; /* Adjust as needed */
}
.hide-scrollbar::-webkit-scrollbar-thumb{
    background-color: transparent; /* Color of the thumb */
}
.hide-scrollbar::-webkit-scrollbar-track{
    background-color: transparent; /* Color of the track */
}
.darkmode{
    background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
}
  