*{
    box-sizing: border-box;
}
.home{
    background-color: whitesmoke;
}
.link{
    text-decoration: none;
    border-radius: 5px;
    background-color: white;
    color:black;
    padding: 5px;
    margin: 5px;
    display: block;
    text-align: center;
    font-size: .8rem;
}
.display-container{
    padding: 10px 10px 0;
}
.custom-dashboard{
    height: 620px;
    overflow: auto;
}
.arrowPic{
    width:100px;
    height: 100px;
    transform: rotate(270deg);
}
.downloadBars {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content:space-between;
    gap: 10px;
    padding: 5px;
}
.sticky-header {
    position: sticky;
    top: 0;
}
#green{
    background-color: rgb(187, 193, 187);
}
.pdfParent{
    text-align: center;
}
#pdf{
    display: inline-block;
    min-height: 600px;
}
#sidebar{
    display: inline-block;
    background-color: #383838;
}
.heatmap{
    height: 300px;
    width: 300px;
}
.heatmap2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    text-align: right;
}
.margin-3{
    margin-left: 15px;
}
@media screen and (min-width: 1580px){
    .custom-dashboard{
        height: 89vh;
    }
    #pdf{
        width: 1300px;
    }
    .pdfParent{
        overflow: auto;
    }
}
@media screen and (max-width: 1579px) and (min-width: 1441px){
    .custom-dashboard{
        height: 81vh;
    }
    #pdf{
        width: 1300px;
    }
}
@media screen and (max-width: 1440px) and (min-width: 1025px){
    .custom-dashboard{
        height: 75vh;
    }
    #pdf{
        width: 1300px;
    }
}
@media screen and (max-width: 1024px) and (min-width: 972px){
    .custom-dashboard{
        height: 75vh;
    }
    #pdf{
        width: 1300px;
    }
}
