#chartContainer{
    width: 100%;
    height: 90vh;
    user-select: none;
}
#content{
    width: calc(100% - (135px));
    background-color: #F4F2DE;
}
#svg{
    width: 500px;
}
.portrait{
    width: 500px;
    margin: 0 auto;
    background-color: white;
    height: 90vh;
}
.landscape{
    width: 99%;
    margin: 0 auto;
    background-color: white;
    height: 90vh;
}
#toolsContainer{
    background-color: rgba(21, 10, 225, 0.456);
    width: 135px;
    height: 100vh;
    padding: 10px;
    box-sizing: border-box;
    font-family: sans-serif;
    overflow: auto;
    color: white
}
    #toolsContainer h3{
        color: white
    }
    #toolsContainer input{
        width: 80%;
        height: 30px;
        border-radius: 5px;
        padding: 0 10px;
        margin: 5px 0;
    }
    #toolsContainer p{
        margin: 10px 0 5px;
    }
@media screen and (min-width: 1552px) {
    .portrait, #svg{
        width: 800px;
    }
}
@media screen and (max-width: 1551px) and (min-width: 1200px) {
    .portrait, #svg{
        width: 800px;
    }
}
@media screen and (max-width: 1550px) and (min-width: 502px) {
    .portrait{
        width: 500px;
    }
}
@media screen and (max-width: 502px) {
    .portrait{
        width: 320px;
    }
}
