.displayGraph{
    overflow:auto;
}
th,td{
    font-size: 1em;
    white-space: nowrap;
    padding: 2px 5px;
}
.rightbar{
    height: 600px;
}
.y-panel{
    display: block;
    width: 100%;
    height: 50px;
}
.y-panel p {
    color: black;
}
.margin-top{
    margin-top: 50px;
}
.grey{
    background-color: rgb(215, 206, 206);
}
.greylight{
    background-color: rgba(255, 255, 0, 0.1);
}
.greydark{
    background-color: rgb(194, 190, 190);
}
.borderCustom{
    border-left: 1px solid black;
    border-right: 1px solid black;
    text-align: left;
}
.fixed-div {
    position: fixed;
    top: 20px;
    left: 150px;
}
.img{
    height: 600px;
    width: 1200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media screen and (max-width: 1441px){
    
}
