.mainAdmin{
    display: grid;
}
.textAdmin{
    color:black;
}
header{
    width: 100%;
    height: 50px;
    background-color: #526D82;
    display: grid;
    justify-content: right;
    align-items: center;
    position: absolute;
}
#logoutAdmin{
    font-size: 1.5rem;
    color: white;
    margin: 0 25px 0;
}
section{
    display: grid;
    grid-template-columns: 5fr 1fr;
}
#asideAdmin{
    margin-top: 50px;
    overflow: auto;
    text-align: center;
    height: 700px;
}
.asideperMessageAdmin{
    width: 200px;
    font-size: .8rem;
    background-color: #C4DFDF;
    margin: 10px auto;
    border-radius: 20px;
    padding: 10px;
    border: 2px solid #8294C4;
    user-select: none;
}
.asidetextAdmin{
    color: black;
    text-align: left;
    margin: 0;
}
#mainAdmin{
    overflow: auto;
    height: 600px;
    width: 1000px;
    margin: 100px auto 0;
    padding: 10px;
}
.color{
    background-color: rgba(65, 198, 65, 0.584);
}
#deleteADmin{
    padding: 5px 10px;
    background-color: rgba(22, 96, 255, 0.893);
    color: white;
    border-radius: 5px;
    position: absolute;
    top: 120px;
    left: 1050px;
    text-decoration: none;
}
.errorAdminLogin{
    color: red;
}
#logoutAdmin{
    text-decoration: none;
}
#homeAdmin, #homeMessages{
    font-size: 1.5rem;
    position: absolute;
    margin: 0 0 0 25px;
    color: white;
    text-decoration: none;
}
#homeMessages{
    margin-left: 150px;
}
#adminDashboard{
    width: 100%;
    height: 100vh;
}
#mul{
    width: 100%;
    height: 100%;
}
#multiplecharts_dash{
    background-color: black;
    width: 12%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding: 10px;
}
#svg_multiplecharts{
    width: 88%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
}
#select_multiplecharts{
    width: 90%;
}
#mul2{
    display: inline-block;
    vertical-align: top;
    width: 50%;
    height: 63vh;
    background-color: rgba(36, 194, 36, 0.5);
}
#mul3{
    display: inline-block;
    vertical-align: top;
    width: 50%;
    height: 63vh;
    background-color: rgba(128, 15, 0, 0.5);
}
#section-1{
    background-color: rgb(0, 128, 0, 0.1);
    width: 100%;
    height: 30vh;
    margin: 50px 0 0;
}
.pie:hover{
    fill: black;
}
#pie_dash{
    display: inline-block;
    position: absolute;
    background-color: black;
    height: 50%;
    width: 15%;
    margin-top: 30px;
    border-radius: 10px;
    color: white;
    padding: 1%;
}
    .pie_dash_h2{
        font-size: 1.5rem;
    }
    .pie_dash_h3{
        font-size: 1rem;
    }
    .pie_dash_p{
        border: 1px solid white;
        display: block;
        width: 100%;
        text-align: center;
        border-radius: 10px;
    }
.line:hover{
    stroke: black;
    stroke-width: 5px;
    position: absolute;
}
#h3_multiplecharts_dash, #p_multiplecharts_dash{
    text-align: left;
    font-size: 1rem;
    color: white;
}
#h3_multiplecharts_dash{
    margin-top: 50px;
    font-size: 1.5rem;
}
