.backgroundColor{
    background-color: rgb(6, 143, 255, .0);
}
#contactContainer{
    position: absolute;
    width: 450px;
    height: 570px;
    padding: 40px;
    border: 1px solid rgb(133, 124, 124);
    border-radius: 50px 10px 50px 50px;
    text-align: left;
    left: auto;
    right: 35%;
    top: 80px;
    box-shadow: 20px 20px 8px rgba(0, 0, 0, 0.2);
}
.messageMeTextArea{
    width: 100%;
    height: 200px;
    resize: none;
}
.footer{
    color: black;
    font-size: .7rem;
}
.footerSpan{
    font-size: .7rem;
    font-weight: bold;
}
#headerForm{
    color: black;
}
#closeForm{
    position: absolute;
    text-decoration: none;
    color: #797171;
    left: auto;
    right: 20px;
    top: 10px;
}
#link{
    position: absolute;
    font-size: .5rem;
    top: 530px;
}
.successContact{
    position: absolute;
    top: 350px;
    left: 200px;
    color: green;
    font-size: 1.2rem;
    font-weight: bold;
}
#name::placeholder{
    color: red;
}   
#title::placeholder{
    color: red;
}   
#message::placeholder{
    color: red;
}   