#sideBar{
    display: flex;
    flex-direction: column;
    width: 10%;
    background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
}
#sideBar > :first-child{
    height: 90%;
    display: flex;
    flex-direction: column;
    padding: 10px 0 0 10px;
    overflow: auto;
}
#sideBar > :first-child > .sidebarChoices{
    height: 40px;
    width: 100%;
    text-decoration: none;
    margin: 2.5px 0 2.5px;
    display: flex;
    align-items: center;
    font-size: .8rem;
    padding: 0 0 0 5px;
    border-radius: 4px 0 0 4px;
    border-right: none;
    color: white;
}
#sideBar > :first-child > #selectedHighlight{
    font-weight: bold;
    background-color: white;
    color: black;
}
#sideBar > :first-child > .sidebarChoices:hover:not(#sideBar > :first-child > #selectedHighlight){
    background-color: rgba(255, 255, 255, 0.278);
}
#messagePic{
    display: block;
    margin: auto;
    width: 30%;
}

@media screen and (max-width: 1174px) and (min-width: 926px) {
    #sideBar > :first-child > .sidebarChoices{
        font-size: .6rem;
    }
}
@media screen and (max-width: 925px){
    #sideBar {
        display: block;
        position: relative; 
        width: 100%;
        height: 50px;
        background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
        border-bottom: 1px solid silver;
    }
    #sideBar > :first-child {
        display: none;
        width: 100%;
        height: 200px;
        background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
        border-bottom: 1px solid silver;
        padding: 0 10px;
    }
    #sideBar > :nth-child(2) {
        width: 10%;
        height: 100%;
        display: flex;
        align-items: center;
        background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
    }
    #sideBar > #clicked { 
        display: block;
    } 
}