#options{
    display: inline-block;
    vertical-align: top;
    padding: 1%;
    height: 10vh;
    width: 100%;
    box-sizing: border-box;
    background-color: #D8D9DA;
}
#downloadButtonImg{
    width: auto;
}
.button{
    padding: 0 10px;
    background-color: rgb(21, 102, 223);
    color: white;
    border-radius: 5px;
    height: 30px;
    text-align: center;
}
.button:hover{
    background: radial-gradient(ellipse at bottom, #e5e8ed 0%, #27d30d 100%);
    border: none;
    color: rgb(0, 0, 0);
}
.button:active{
    background: radial-gradient(ellipse at bottom, #e5e8ed 0%, #140dd3 100%);
    border: none;
    color: rgb(0, 0, 0);
}
.arrowLeft, .arrowRight {
    user-select: none;
    width: 100px;
    background-color: rgb(138, 127, 127);;
    color: white;
    font-family: sans-serif;
    text-align: center;
    margin: 0 5px;
    height: 30px;
    box-sizing: border-box;
    padding: 5px;
}
.arrowLeft:hover {
    background-color: rgb(0, 0, 0);
}
.arrowLeft:active {
    background-color: rgb(255, 255, 255);
    color: black;
}
.arrowRight:hover {
    background-color: rgb(0, 0, 0);
}
.arrowRight:active {
    background-color: rgb(255, 255, 255);
    color: black;
}
#moveIt{
    height: 30px;
    width: 100%;
    text-align: center;
}
#downloadBars{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}
@media screen and (max-width: 894px) and (min-width: 503px) {
    #moveIt{
        font-size: .8rem;
    }
    .arrowLeft, .arrowRight {
        width: 50%;
        margin: 0;
        font-size: 0rem;
    }
    .button{
        font-size: 0rem;
        padding: 0;
        width: 100%;
    }
}
@media screen and (max-width: 502px) {
    #options{
        width: 100%;
    }
    #moveIt{
        font-size: .8rem;
    }
    .arrowLeft, .arrowRight {
        width: 50%;
        margin: 0;
        font-size: 0rem;
    }
    .button{
        font-size: 0rem;
        padding: 0;
        width: 100%;
    }
}