.th{
    height: 40px;
    background-color: #F2BED1;
    user-select: none;
    opacity: 1;
}
.td1{
    background-color: #FDCEDF;
}
.td2{
    background-color: #F8E8EE;
}
table{
    font-size: 12px;
}
.right{
    text-align: right;
}
.blue{
    background-color: rgb(0, 128, 0, .4);
}
.white{
    background-color: #F2BED1;
}